html{
    font-family: 'Times New Roman', Times, serif;
}
.left{

    box-shadow: 0px 0px 15px 4px #4a7ca5;

}
.right{
    box-shadow: 0px 0px 15px 4px #0e4f85;
}
.cent{
    text-align: center;
    }

img{ margin: 2px;}

.pointer {cursor: pointer;}

.copyright{
    text-align:center;
    margin:25px 15px 5px 0px;
    color: black;
    border: solid black;
}

.zoom:hover {
    transform: scale(1.05);
  }
li:hover{
    transform: scale(1.1);
    font-weight: bold;
    color:indigo;
}
p:hover{
    transform: scale(1.0);
    font-weight: bold;
    color: black;
}

h5:hover{
    transform: scale(1.0);
    font-weight: bold;
    color:rgb(255, 102, 0);
}
h4:hover{
    transform: scale(1.0);
    font-weight: bold;
    color: rgb(0, 245, 20);
}

h3:hover{
    transform: scale(1.0);
    font-weight: bold;
    color:rgb(255, 0, 0);
}

h2:hover{
    transform: scale(1.0);
    font-weight: bold;
}

header footer{
   border: solid black;
}

